{% load webdesign %}

<div class="jumbotron">
    
    <div class="container">
        <h1>
            welcome to the site
        </h1>
        <p> Insert marketing copy here </p>
    </div>
</div>    

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>About</h2>
            <p>{% lorem %}</p>
        </div>
    
        <div class="col-md-6">
            
            <h2>Contact </h2>
            <p>{% lorem %}</p>
            <p>
                <a href="{% url 'page' 'contact' %}" class="btn btn-default" role="button"> contactanos</a>

            </p>
        </div>

    </div>
</div>

<hr>

<footer>
    <div class="container">
        <p>Ideartic {% now 'Y' %}</p>
    </div>
</footer>